modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
NEXTAUTH_SECRET = "9IyCtW6sg8GklkQxjG2p99X1bdVfcbECCXL0aGmtUVs="
NEXTAUTH_URL = "https://a63631f0-98d6-427e-b7af-e5b3ae4f95ed-00-37q85bhvmc1vk.worf.replit.dev"
SUPABASE_DATABASE_URL = "postgresql://postgres.ssylyzoymmjplorovfjb:WjOsy8DqD5aZDRRz@aws-0-us-west-2.pooler.supabase.com:5432/postgres"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Next.js Dev"

[[workflows.workflow]]
name = "Next.js Dev"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 3000

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "start"]
build = ["npm", "run", "build"]
